body{
	background-color: black;
}
#bloc_page{
	width: 80%;
	margin: auto;
	background-color: black;
}
#ecran{
	padding-top: 200px;
	height: 40%;
	background-color: green;
	border: 3px solid black;
	

}
#clavier{
	position: relative;
	top: 150px;
  height: 20%;
  margin-top: 20px;
  border: 1px solid grey;
  padding-right: 2px;
  padding-left: 2px;
  background-color: grey;
  box-shadow: inset 0px 5px 13px white;
  border-radius: 0px 0px 10px 10px;
}


