#clavier{
  margin-top: 10%;
}

/*#bouton2{
  list-style-type: none;
  position: absolute;
  top: 120px;
  left: 130px;
  width: 80px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #808080;
  text-transform: uppercase;
  box-shadow: inset 0px 1px 0px #aaa, 0px 7px 0px 1px #156785, 8px 7px 7px grey;
  border-radius: 5px;
}

li:active{
    box-shadow: inset 0px 1px 0px #aaa, 0px 1px 0px 1px #156785;  
}

/*#bouton2:active{
  position: absolute;
  top: 125px; 
  background:#ffffff;
  box-shadow: inset 0px 1px 0px #aaa, 0px 1px 0px 1px #156785;  
}*/