/*body{*/
	background-color: black;
}
#bloc_page{
	width: 80%;
	margin: auto;
	background-color: black;
}

#moniteur{
	background-image: url(images/ordi.jpg);
	background-repeat: no-repeat;
	background-position: 
}

#ecran{
	padding-top: 200px;
	height: 40px;
	width: 40px;
	background-color: green;
	border: 3px solid black;
	

}
#clavier{
  position: relative;
  top: 35px;
  /*height: 90%;*/
  width: 69%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid grey;
  padding-right: 2px;
  padding-left: 2px;
  background-color: grey;
  box-shadow: inset 0px 5px 13px white, 2px 10px 14px black;
  border-radius: 0px 0px 10px 10px;
  transform: rotate(1deg);
}

ul{
	margin-top: 10px;
}



